    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Testimonials</h3>
          </header>
  
          <div class="row justify-content-center">
            <div class="col-lg-8" >
  
              <div class="owl-carousel testimonials-carousel wow fadeInUp" >
      
                <div class="testimonial-item" *ngFor="let item of testimonialsList">
                  <img src="{{item.avatar}}" class="testimonial-img" alt="">
                  <h3>"{{item.first_name}} {{item.last_name}}"</h3>
                  <h4>"{{item.email}}"</h4>
                  <p>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  </p>
                </div>
              </div>
  
            </div>
          </div>
  
  
        </div>
      </section><!-- #testimonials -->

      <script>
       
      </script>